In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
!wget  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

/bin/bash: /home/ashry/miniconda3/envs/ml-env/lib/libtinfo.so.6: no version information available (required by /bin/bash)
wget: /home/ashry/miniconda3/envs/ml-env/lib/libuuid.so.1: no version information available (required by wget)
--2022-09-06 08:11:36--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  1.17MB/s    in 1.2s

2022-09-06 08:11:38 (1.17 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
df.shape

(11914, 16)

In [15]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [6]:
df[df['Make'] == 'Audi']['Model'].nunique()

34

In [7]:
df.isnull().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

In [9]:
df['Engine Cylinders'].median()

6.0

In [13]:
most_frequent_value = df['Engine Cylinders'].mode()
df['Engine Cylinders'].fillna(value=most_frequent_value)
df['Engine Cylinders'].median()

6.0

In [22]:
Lotus_cars = df[df['Make'] == 'Lotus'][[ "Engine HP", "Engine Cylinders"]]

In [24]:
Lotus_cars.drop_duplicates(inplace=True)

In [25]:
Lotus_cars

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [35]:
X = np.array(Lotus_cars[['Engine Cylinders' , 'Engine HP']])

In [37]:
XTX = np.dot(X.T ,  X)

In [46]:
z = np.dot(np.linalg.inv(XTX) , X.T)

In [43]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [53]:
w = np.dot(z , y )

In [54]:
w

array([-63.56432501,   4.59494481])